.mv-card {
    min-width: 200px;
}

.thumbnail-holder {
    width: 80px;
}

.card-img {
    width: 80px;
    height: 110px;
    overflow: hidden;
    margin-top: -15px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}